<span *ngIf="loadingSpinner.loadingView">
    <app-loading-spinner ></app-loading-spinner>
</span>

<span [@showingAnnimation] *ngIf="!loadingSpinner.loadingView">  

    <app-table [columns] = ui_Table.columns [data] = avrDeviceInfoArrayToRowArray()>
    </app-table>
    
    <div class="OnlineText" *ngIf="messageIsShowing && responseIsOk">
        <b>Urządzenie pomiarowe dodana prawidłowo</b>
      </div>
      <div class="OfflineText" *ngIf="messageIsShowing && !responseIsOk">
        <b>Wystąpił problem podczas tworzenia nowego urządzenia</b>
      </div>
      
      <form #avrDeviceFormInfo="ngForm" (ngSubmit)="onAddNewAvrDeviceSubmit(avrDeviceFormInfo.value)">
        <input type="text" class="txt" name="ip" placeholder="Adres Ip" [(ngModel)]="avrDeviceIpForm">
        <br />
        <select name="tunnel" [(ngModel)]="avrDeviceTunnelForm">
          <option *ngFor="let tunnel of tunnels" value="{{tunnel.id}}">{{tunnel.name}}</option>
        </select>
        <br />
        <input type="submit" class="btn" value="Stwórz urządzenie">
      </form>

</span>
