<span *ngIf="loadingSpinner.loadingView">
    <app-loading-spinner ></app-loading-spinner>
</span>

<span [@showingAnnimation] *ngIf="!loadingSpinner.loadingView">
    <div *ngFor="let tunnel of tunnels">
        <div  class="infoBoxContainer">
            <div class="infoBoxHeader">{{tunnel.tunnel.name}}  <span *ngIf="tunnel.isAlarm">❗</span></div>
            <div class="infoBox">
            <div class="leftInfoBox">
                Ilość hodowli: {{tunnel.cultivations.length}} <br />

                <span *ngIf="!tunnel.online || tunnel.isAlarm">
                    <hr />
                    Uwagi: <br />
                    <ul>
                        <span *ngIf="!tunnel.online"><li>W tunelu nie działa urządzenie rejestrujące dane.</li></span>
                        <span *ngIf="tunnel.isAlarm"><li>Co najmniej jedna z wartości granicznych została przekroczona.</li></span>
                    </ul>
                </span>
                <p class="moreLink" (click)="showTunnelDetails(tunnel.tunnel.id)">Więcej...</p>
            </div>
        
            <div class="rightInfoBox">
                <span *ngIf="tunnel.temperature != null">{{tunnel.temperature}} &#176; C</span>
                <span *ngIf="tunnel.temperature == null">--- &#176; C</span>
            </div>
            <div style="clear: both;"></div>
            </div>
        </div>
    </div>
    
    <!-- Dodawanie nowego tunelu -->
    
    <div class="OnlineText" *ngIf="messageIsShowing && responseIsOk">
        <b>Tunel dodany prawidłowo</b>
      </div>
      <div class="OfflineText" *ngIf="messageIsShowing && !responseIsOk">
        <b>Wystąpił problem podczas tworzenia nowego tunelu</b>
      </div>
    
    <form #tunnelName="ngForm" (ngSubmit)="onAddNewTunnelSubmit(tunnelName.value)">
      <input type="text" class="txt" name="name" placeholder="Nazwa nowego tunelu" [(ngModel)]="newTunnelName">
      <input type="submit" class="btn" value="Stwórz tunel">
    </form>
</span>