<span *ngIf="loadingSpinner.loadingView">
    <app-loading-spinner></app-loading-spinner>
</span>

<span [@showingAnnimation] *ngIf="!loadingSpinner.loadingView">

    <app-table [columns] = ui_Table.columns [data] = cultivationBasicInfoArrayToRowArray()>
    </app-table>
      
      <div class="OnlineText" *ngIf="messageIsShowing && responseIsOk">
        <b>Uprawa dodana prawidłowo</b>
      </div>
      <div class="OfflineText" *ngIf="messageIsShowing && !responseIsOk">
        <b>Wystąpił problem podczas tworzenia nowej uprawy</b>
      </div>
      
      <form #cultivationFormInfo="ngForm" (ngSubmit)="onAddNewCultivationSubmit(cultivationFormInfo.value)">
        <input type="text" class="txt" name="name" placeholder="Nazwa nowej hodowli" [(ngModel)]="cultivationNameForm">
        <br />
        <select name="plantSpeciesId" [(ngModel)]="cultivationPlantForm" (change)="onPlantSelectChange(cultivationPlantForm)">
          <option *ngFor="let plant of plants" value="{{plant.id}}">{{plant.name}}</option>
        </select>
      
        <br />
        <select name="varietyId" [(ngModel)]="cultivationVarietyForm">
          <option *ngFor="let variety of varieties" value="{{variety.id}}">{{variety.name}}</option>
        </select>
      
        <br />
        <input type="text" class="txt" name="pieces" placeholder="Liczba sztuk" [(ngModel)]="cultivationPiecesForm">
        <br />
        <select name="tunnelId" [(ngModel)]="cultivationTunnelForm">
          <option *ngFor="let tunnel of tunnels" value="{{tunnel.id}}">{{tunnel.name}}</option>
        </select>
        <br />
        <input type="date" class="txt" name="start_date" placeholder="Startdate" [(ngModel)]="cultivationStartDateForm">
        <br />
        <input type="submit" class="btn" value="Stwórz uprawę">
      </form>

</span>
