<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DbManager.Db.dbAccess" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <DbManager.Db.dbAccess>
      <setting name="dbServer" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="dbPort" serializeAs="String">
        <value>5432</value>
      </setting>
      <setting name="dbName" serializeAs="String">
        <value>szh_test</value>
      </setting>
      <setting name="dbUser" serializeAs="String">
        <value>postgres</value>
      </setting>
      <setting name="dbPassword" serializeAs="String">
        <value>szh</value>
      </setting>
    </DbManager.Db.dbAccess>
  </userSettings>
</configuration>