.cultivationInfo{
    background-color: rgb(44, 149, 219);
    padding: 15px 15px 15px 35px;
    font-size: 14px;
    line-height: 1.6;
}

.cultivationInfoComments{
    padding: 15px;
}

.container {
    grid-template-columns: 85% 15% ;
}

.color-dark {
    color: #A5F883;
    font-size: 18px;
    font-weight: bold;
    padding: 0px 0px;
}

.col {
    padding: 0em 1.3em;
}