<span *ngIf="loadingSpinner.loadingView">
    <app-loading-spinner ></app-loading-spinner>
</span>

<span [@showingAnnimation] *ngIf="!loadingSpinner.loadingView">

    <app-table [columns] = ui_Table.columns [data] = notificationArrayToRowArray()>
      </app-table>

      <div class="OnlineText" *ngIf="messageIsShowing && responseIsOk">
          <b>Powiadomienie dodano prawidłowo</b>
        </div>
        <div class="OfflineText" *ngIf="messageIsShowing && !responseIsOk">
          <b>Wystąpił problem podczas tworzenia nowego powiadomienia</b>
        </div>
        
        <form #notificationFormInfo="ngForm" (ngSubmit)="onAddNewNotificationSubmit(notificationFormInfo.value)">

            <select name="tunnel" [(ngModel)]="notificationTunnelForm">
                <option *ngFor="let tunnel of tunnels" value="{{tunnel.id}}">{{tunnel.name}}</option>
            </select>
            <br />

            <select name="measurement_type" [(ngModel)]="notificationMeasurementTypeForm">
                <option *ngFor="let measurement_type of measurement_types"
                 value="{{measurement_type.id}}">{{measurement_type.name}}</option>
            </select>
            <br />

            <select name="condition" [(ngModel)]="notificationConditionForm">
                <option value="<">&lt;</option>
                <option value=">">&gt;</option>
            </select>
            <br />

            <input type="text" class="txt" name="value" placeholder="Wartość graniczna" 
          [(ngModel)]="notificationValueForm">
          <br />

          <input type="text" class="txt" name="receivers" placeholder="Adresy email oddzielone przecinkiem" 
          [(ngModel)]="notificationReceviersForm">
          <br />

          <input type="text" class="txt" name="repeat_after" placeholder="Ponawiaj co " 
          [(ngModel)]="notificationRepeatAfterForm">
          <br />

          Aktywny: <input type="checkbox" class="txt" name="isActive" [(ngModel)]="notificationIsActiveForm">
          <br />

          <input type="submit" class="btn" value="Stwórz powiadomienie">
        </form>

</span>
